*{
  padding:0px;
  margin:none;
  font-family: 'Mulish', sans-serif;
}
body{
  background:linear-gradient(
    20deg ,
    white 0%,
    white 50%,
    #f6f8fab0 50%,
    #f6f8fab0 100%  
  ) ;
  padding:45px;
}
p{
  color:rgba(117, 117, 117, 1);
}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background: white;
  width:350px;
  padding:20px 40px;
  margin: auto;  
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 40px rgb(224, 217, 217) ;
}
.container{
  display:flex;
  flex-direction: column;
  gap:25px;
}
.header span{
  color:rgba(117, 117, 117, 1);
}
.inputs{
  display: flex;
  flex-direction: column;
  gap:15px;
}

.inp{
  display: flex;
  flex-direction: column;
  gap:5px;
}
label{
  color: rgba(51, 51, 51, 1);
  font-weight: 600;
}
input{
  font-size: 16px;
  padding:12px;
  width:350px;
  border: 1px solid rgba(222, 222, 222, 1);
  outline: none;
  border-radius: 5px;
}
.btn{
  font-size: 16px;
  font-weight: 600;
  padding:12px;
  background-color:rgba(98, 91, 247, 1) ;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container p{
  color:rgba(98, 91, 247, 1);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.signUp{
  display:flex;
  gap:5px;
  text-align: center;
  justify-content: center;
}
.signUp p{
  font-size: 14px;
}
.signUp button{
  border:none;
  background: transparent;
  color:rgba(98, 91, 247, 1);
}
 #error{
  color:red;
}

.profile{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.profile img{

  border:2px solid rgba(202, 201, 201, 0.801);
  width:150px;
  height:150px;
}